In [1]:
install.packages("ISLR")
library(ISLR)
require(tree)

Installing package into ‘/home/nbuser/R’
(as ‘lib’ is unspecified)
Loading required package: tree

In [2]:
train <- read.csv("DataSets/train.csv")
test <- read.csv("DataSets/test.csv")

In [3]:
head(train)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [4]:
train[c('Name', 'Ticket', 'Cabin')] <- NULL
test[c('Name', 'Ticket', 'Cabin')] <- NULL

In [5]:
install.packages("fastDummies")
library(fastDummies)

Installing package into ‘/home/nbuser/R’
(as ‘lib’ is unspecified)

In [6]:
new_data_train <- dummy_cols(train)
new_data_test <- dummy_cols(test)

In [7]:
head(new_data_train)

  PassengerId Survived Pclass Sex    Age SibSp Parch Fare    Embarked Sex_male
1 1           0        3      male   22  1     0      7.2500 S        1
2 2           1        1      female 38  1     0     71.2833 C        0
3 3           1        3      female 26  0     0      7.9250 S        0
4 4           1        1      female 35  1     0     53.1000 S        0
5 5           0        3      male   35  0     0      8.0500 S        1
6 6           0        3      male   NA  0     0      8.4583 Q        1
  Sex_female Embarked_S Embarked_C Embarked_Q Embarked_
1 0          1          0          0          0
2 1          0          1          0          0
3 1          1          0          0          0
4 1          1          0          0          0
5 0          1          0          0          0
6 0          0          0          1          0

In [8]:
new_data_train[c("Sex", "Embarked")] = NULL
new_data_test[c("Sex", "Embarked")] = NULL

In [9]:
sum(is.na(new_data_train))

[1] 177

In [10]:
summary(new_data_train)

  PassengerId       Survived          Pclass           Age
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000   Min.   : 0.42
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000   1st Qu.:20.12
 Median :446.0   Median :0.0000   Median :3.000   Median :28.00
 Mean   :446.0   Mean   :0.3838   Mean   :2.309   Mean   :29.70
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000   3rd Qu.:38.00
 Max.   :891.0   Max.   :1.0000   Max.   :3.000   Max.   :80.00
                                                  NA's   :177
     SibSp           Parch             Fare           Sex_male
 Min.   :0.000   Min.   :0.0000   Min.   :  0.00   Min.   :0.0000
 1st Qu.:0.000   1st Qu.:0.0000   1st Qu.:  7.91   1st Qu.:0.0000
 Median :0.000   Median :0.0000   Median : 14.45   Median :1.0000
 Mean   :0.523   Mean   :0.3816   Mean   : 32.20   Mean   :0.6476
 3rd Qu.:1.000   3rd Qu.:0.0000   3rd Qu.: 31.00   3rd Qu.:1.0000
 Max.   :8.000   Max.   :6.0000   Max.   :512.33   Max.   :1.0000

   Sex_female       Embarked_S       Embarked_C       Embarked_Q
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.00000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.00000
 Median :0.0000   Median :1.0000   Median :0.0000   Median :0.00000
 Mean   :0.3524   Mean   :0.7228   Mean   :0.1886   Mean   :0.08642
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:0.0000   3rd Qu.:0.00000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.00000

   Embarked_
 Min.   :0.000000
 1st Qu.:0.000000
 Median :0.000000
 Mean   :0.002245
 3rd Qu.:0.000000
 Max.   :1.000000

In [11]:
new_data_train[is.na(new_data_train["Age"]),]["Age"] <- mean(as.numeric(unlist(new_data_train["Age"])), na.rm=T)
new_data_test[is.na(new_data_test["Age"]),]["Age"] <- mean(as.numeric(unlist(new_data_test["Age"])), na.rm=T)

In [12]:
head(new_data_train)

  PassengerId Survived Pclass Age      SibSp Parch Fare    Sex_male Sex_female
1 1           0        3      22.00000 1     0      7.2500 1        0
2 2           1        1      38.00000 1     0     71.2833 0        1
3 3           1        3      26.00000 0     0      7.9250 0        1
4 4           1        1      35.00000 1     0     53.1000 0        1
5 5           0        3      35.00000 0     0      8.0500 1        0
6 6           0        3      29.69912 0     0      8.4583 1        0
  Embarked_S Embarked_C Embarked_Q Embarked_
1 1          0          0          0
2 0          1          0          0
3 1          0          0          0
4 1          0          0          0
5 1          0          0          0
6 0          0          1          0

In [13]:
summary(new_data_test)

  PassengerId         Pclass           Age            SibSp
 Min.   : 892.0   Min.   :1.000   Min.   : 0.17   Min.   :0.0000
 1st Qu.: 996.2   1st Qu.:1.000   1st Qu.:23.00   1st Qu.:0.0000
 Median :1100.5   Median :3.000   Median :30.27   Median :0.0000
 Mean   :1100.5   Mean   :2.266   Mean   :30.27   Mean   :0.4474
 3rd Qu.:1204.8   3rd Qu.:3.000   3rd Qu.:35.75   3rd Qu.:1.0000
 Max.   :1309.0   Max.   :3.000   Max.   :76.00   Max.   :8.0000

     Parch             Fare            Sex_male        Sex_female
 Min.   :0.0000   Min.   :  0.000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:  7.896   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median : 14.454   Median :1.0000   Median :0.0000
 Mean   :0.3923   Mean   : 35.627   Mean   :0.6364   Mean   :0.3636
 3rd Qu.:0.0000   3rd Qu.: 31.500   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :9.0000   Max.   :512.329   Max.   :1.0000   Max.   :1.0000
                  NA's   :1
   Embarked_Q     Embarked_S       Embarked_C
 Min.   :0.00   Min.   :0.0000   Min.   :0.000
 1st Qu.:0.00   1st Qu.:0.0000   1st Qu.:0.000
 Median :0.00   Median :1.0000   Median :0.000
 Mean   :0.11   Mean   :0.6459   Mean   :0.244
 3rd Qu.:0.00   3rd Qu.:1.0000   3rd Qu.:0.000
 Max.   :1.00   Max.   :1.0000   Max.   :1.000

In [14]:
new_data_test[is.na(new_data_test["Fare"]),]["Fare"] <- mean(as.numeric(unlist(new_data_test["Fare"])), na.rm=T)